<header>
    <nav style="padding-left: 10px;">
        <ul>
            <li><a href="/">Home</a></li>
            <% if (user) { %>
                <li>Welcome, <%= user.username %>!</li>
                <li>
                    <form style="display: inline;" action="/auth/logout" method="post">
                        <button style="background: none; color: white; padding: 2px; border: none; text-decoration: underline; cursor: pointer;" type="submit">Logout</button>
                    </form>
                </li>
                <% } else { %>
                    <li><a href="/auth/signup">Sign Up</a></li>
                    <li><a href="/auth/login">Login</a></li>
                    <% } %>
        </ul>
    </nav>
</header>